@font-face {
  font-family: 'Neucha';
  font-weight: 400;
  font-style: normal;
  src: local('Neucha'), url('./fonts/Neucha-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Balsamiq Sans';
  font-weight: normal;
  font-style: normal;
  src: local('Balsamiq Sans'),
    url('./fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Balsamiq Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Balsamiq Sans'),
    url('./fonts/BalsamiqSans-Bold.ttf') format('truetype');
}
